.customStyle {
  background-color: rgb(250, 225, 250);
  font-weight: bold;
  font-size: larger;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.btn-primary {
  background-color: purple;
  border-color: purple;
  font-size: large;
  font-weight: bold;
  padding: 10px;
}

.btn-primary:hover {
  background-color: purple;
  border-color: purple;
  font-size: large;
  font-weight: bold;
  padding: 10px;
}

.bgGreen {
  background-color: green;
}
.checked-label-style {
  opacity: 40%;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.checked-input-style {
  opacity: 40%;
}
.clicked-label-style {
  color: white;
  background-color: purple;
}

.task-container {
  display: inline-block;
  color: white;

  border-radius: 5px;
  background-color: purple;
  padding: 10px;
}
.img-container {
  border: none;
  border-radius: 5px;
  background-color: purple;
  padding: 5px;
}
